.banner {
    display: flex;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    align-items: center;
}

.container-home {
    text-align: left;
    padding-left: 1rem;
}


.banner h1 {
    margin: 0;
    color: #670BFF;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 2rem;
    font-weight: bold;
}

.banner p {
    font-size: 1.3rem;
    color: #9DE9F7;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin-bottom: 1.6rem;
}

.btn-flat {
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    background: #670BFF;
    transition: background 0.3s ease;
}

.btn-flat:hover {
    background: #4D04C4;
    color: white;
}

a {
    text-decoration: none;
}

@media (max-width: 474px) {
    .banner h1 {
        font-size: 1.5rem;
        margin: 10px;
    }
    .banner p {
        font-size: 1rem;
        margin: 10px;
    }
    .btn-flat {
        max-width: 300px;
        padding: 0.8rem 0.9rem;
        margin: 8px;
    }
}

/* Define the animation */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Apply the animation to the image */
#animated-image {
    animation: rotate 5s linear infinite; /* Adjust duration and animation type as needed */
}
