.banner {
    display: flex;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

.container-home {
    flex: 1; /* Expand and take available space */
    text-align: left;
    padding-left: 5rem;
    width: 100%;
}

.image-rocket {
    flex: 1;
    max-width: 576px;
    max-height: 324px;
}
.banner h1 {
    margin: 0;
    color: #9DE9F7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 2rem;
    font-weight: bold;
}

.banner p {
    font-size: 1.3rem;
    color: #9DE9F7;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: #670BFF;
    transition: background 0.3s ease;
}

.btn-flat:hover {
    background: #4D04C4;
    color: white;
}

a {
    text-decoration: none;
}

@media (max-width: 768px) {
    .image-rocket {
        display: none;
    }
    .banner h1, p {
        font-size: 1.6rem;
    }
    .container-home {
        padding-left: 0;
    }

}