
/* Card container */
.launch-card {
  position: relative;
  width: 200px;
  height: 300px;
  padding: 4.7rem 0.9rem;
  text-align: left;
  border: 1px solid #a1ecfb;
  border-radius: 0.4rem;
  background-color: rgba(0, 0, 0, 0.784);
}

/* Image container */
.image-container {
  position: absolute;
  top: -3.5rem;
  left: 0.6rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.114);
}

/* Image within the container */
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Card title */
.launch-card h2 {
  font-size: 1.2rem;
  text-overflow: ellipsis;
  color: #670BFF;
  margin-bottom: 0.4rem;
}

/* General text style */
.launch-card p {
  color: white;
  margin-top: 1.5rem;
  font-size: 0.7rem;
}

/* Date */
.launch-card .date {
  margin-bottom: 1rem;
  color: #a3e5f2;
}

/* Details with text ellipsis */
.launch-card .details {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  color: #a1ecfb;
  font-size: 0.7rem;
}

/* Style for success status */
.launch-card .success {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-align: end;
  color: #a1fbd7;
}

/* Style for failure status */
.launch-card .failure {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-align: end;
  color: #870000;
}
