
/* Card container */
.launch-card {
  position: relative;
  padding: 1rem;
  width: 150px;
  height: 100px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 5rem 2rem;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.471);
}

/* Image container */
.image-container {
  position: absolute;
  top: -4rem; /* Adjust this value to control the vertical position */
  left: 1rem; /* Adjust this value to control the horizontal position */
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.114);
}

/* Image within the container */
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Card title */
h2 {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 0.3rem;
}

p {
  color: white;
  margin-top: 1rem;
}
/* Date */
.date {
  margin-bottom: 1rem;
  color: #8c8b8b;
}

.details {
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Style for success status */
.success {
  color: green; /* Change to your preferred color for success */
}

/* Style for failure status */
.failure {
  color: red; /* Change to your preferred color for failure */
}
