.container {
  color: #a1ecfb;
  overflow-x: scroll;
}

.title {
  color: #a1ecfb;
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

p {
  font-size: 1.3rem;
  color: #9DE9F7;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.cardWrapper {
  display: inline-flex;
  margin: 2rem 0;
  padding-top: 1.7rem;
  padding-bottom: 1.5rem;
  display: -moz-grid-line;
  gap: 35px;

}

.card {
  margin-right: 3rem;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin-bottom: content-box !important;
    padding-bottom: 16px;

    &::-webkit-scrollbar {
      display: none;
    }
}

.card:last-child {
  margin-right: 0;
}

@media (min-width: 768px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
