.container {
  color: #a1ecfb;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  overflow-x: scroll;
}

.title {
  color: #a1ecfb;
  font-weight: 700;
  font-size: 2rem;

}

.cardWrapper {
  display: inline-flex; /* Use inline-flex for horizontal alignment */
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  margin-top: 1.5rem;
  margin-right: 3rem;
  display: -moz-grid-line;
  gap: 35px;
  padding-bottom: 10px;
  padding-top: 5px;
}

.card {
  margin-right: 3rem;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin-bottom: content-box !important;
    padding-bottom: 16px;

    &::-webkit-scrollbar {
      display: none;
    }
}

.card:last-child {
  margin-right: 0; /* Remove right margin from the last card */
}

@media (min-width: 768px) {
  .container {
    padding-left: 4rem; /* 64px */
    padding-right: 4rem; /* 64px */
  }
}
