
.sectionWrapper {
  margin-top: 0.5rem;
}

.title {
  display: block;
  position:absolute;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .title h3 {
    font-size: 0.8rem;
    padding-left: 0;
  }

}