.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(12, 44, 51, 0.28);
  width: auto;
  height: 2rem;
  padding: 0 2rem;
}

.logo-container {
  max-width: 50px;
  margin: 0 2rem;
}

.btn-flat {
  color: white;
  font-size: large;
  font-weight: bold;
  padding: 0.5rem 2.5rem;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

a {
  text-decoration: none;
}

.search-icon {
  cursor: pointer;
  margin: 0 2rem;
}

@media (max-width: 1200px) {
  .header {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
  }
}
@media (max-width: 2000px) {
  .header {
    max-width: 2000px;
    margin: auto;
    padding: 1rem;
  }
}

@media (max-width: 798px) {
  .header {
    max-width: 798px;
    margin: auto;
  }
}

@media (max-width: 300px) {
  .header {
    max-width: 300px;
    margin: auto;
  }
}

@media (max-width: 798px) {
  .btn-flat {
    padding: 0.5rem 1.5rem;
    margin: auto;
  }
}
