
.filtered-results-section {
  display: grid;
  grid-template-columns: repeat(4, 180px);
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  margin: 2rem;
  gap: 2rem;
}

.layout {
  margin-bottom: 0;
  max-width: 1200px;
  padding: 3rem;

}
.text-results {
  color: #A0ECFB;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .filtered-results-section {
    grid-template-columns: repeat(3, 180px);
    gap: 0.7rem;
  }
}
@media (max-width: 368px) {
  .filtered-results-section {
    grid-template-columns: repeat(1, 180px);
    gap: 0.3rem;
  }
}
