
.filtered-results-section {
  display: grid;
  grid-template-columns: repeat(4, 180px);
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  margin: 2rem;
  gap: 2rem;
}

.layout {
  margin-bottom: 0;
  max-width: 1200px;
  padding: 3rem;
}

.rocket-result {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.X-close {
  margin-left: 2rem;
  margin-right: 4rem;
  padding-right: 0.3rem ;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.text-results {
  color: #9DE9F7;
  font-size: 1.3rem;
  margin-left: 4rem;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.no-found {
  font-size: 1.3rem;
  margin-left: 2rem;
  color: #9DE9F7;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

a {
  color: #9DE9F7;
  font-size: 1rem;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

@media (max-width: 768px) {
  .filtered-results-section {
    grid-template-columns: repeat(3, 180px);
    gap: 0.7rem;
  }
}

@media (max-width: 368px) {
  .filtered-results-section {
    grid-template-columns: repeat(1, 180px);
    gap: 0.3rem;
  }
}
