/* Style the search container */
.search-container {
  position: relative;
  display: inline-block;
  margin-bottom: 2rem;
}

/* Style the search input */
input {
  padding: 0.5rem 3rem;
  border-radius: 4px;
  background-color: #f6f7f7ea;
  border: 2px solid #670BFF;
}

.search-box::placeholder {
  font-size: 0.8rem;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .search-container {
    padding-bottom: 2rem;
    margin: auto;
  }
  input {
    padding: 0.5rem 1rem;
  }
}
